<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php"
>
    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </coverage>

    <php>
        <const name="IRONMQ_PROJECT_ID" value="CHANGE_ME"/>
        <const name="IRONMQ_TOKEN" value="CHANGE_ME"/>
        <const name="IRONMQ_HOST" value="mq-aws-eu-west-1-1.iron.io"/>
    </php>
    
    <testsuites>
        <testsuite name="UecodeQPushBundle Test Suite">
            <directory>./tests/</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>./integration_tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
